//////////////////////////////Mobile View
#home {
    .parser-container {
        form {
            margin: 0 0 30px;

            #input {
                width: 96%;
                padding: 15px 30px;
                border: 1px solid black;
                border-radius: 20px;
                font-size: .90em;
            }
        }
        .outputContainer {
            margin: 0 30px;

            .output {
                margin: 0 0 15px;
                font-size: .90em;

                > div {
                    display: inline-block;
                    color: blue;
                    cursor: pointer;

                    &:hover {
                        color: red;
                    }
                }
            }
            #cta {

            }
        }
    }
}

//////////////////////////////Additional Global Styles
@import "global-styles";


//////////////////////////////Desktop View
@media (min-width: $desktop) {
    #home {

    }
}
